{% extends "base.html" %}
{% load static %}
{% block title %}YachayCode - Blog{% endblock title %}
{% block head_imports %}
  <!-- Blog Styles -->
  <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}
{% block section %}

  <div class="container-fluid pt-3 base d-flex justify-content-center">
    <div class="row">
      <picture>
        <!-- Image when width < 768px -->
        <source srcset="{% static 'img/bannerazul.jpg' %}" media="(max-width: 768px)">
        <!-- Normal image -->
        <img loading="lazy" src="{% static 'img/banner.jpg' %}" class="img-fluid" alt="img-yachay">
      </picture>
    </div>
  </div>

  <div class="container mb-5">
    <div class="d-flex">
      <div class="d-flex mt-5 mb-5">
        <div class="btn-group">
          <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <p class="color-grey mb-0">
              Categorias
              <i class="fas fa-angle-down pl-0 size14 color-grey ml-1"></i></a>
            </p>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'app_blog:p_inicio' %}">
              Todos
            </a>
            {% for categoria in categories_blog %}
              <a class="dropdown-item" href="{% url 'app_blog:p_buscador_categoria' categoria.slug  %}">
                {{categoria.name}}
              </a>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="d-flex col-md-8 mt-5 mb-5 ml-0">
          <div class="col-md-7 container-1">
              <span class="icon1"><i class="fa fa-search color-blue1"></i></span>
              <form  method="GET" action="{% url 'app_blog:p_buscador_blog' %}" > 
              <input class="form-control search pl" type="search" id="q" name="q" placeholder="Buscar artículos ..." />
              </form>
          </div>
      </div>
    </div>
    <div class="row mb-5">
      {% for blog in blogs %}
        <!-- First text -->
        <div class="col-md-4">
          <p class="size12 f-mont c-r">
            <!-- Startup  -->
          </p>

          <!-- Card image -->
          <a href="{% url 'app_blog:p_detalle_blog' blog.slug %}"><img loading="lazy" class="card-img-top" src="{{ blog.cover_image.url }}" alt="Card image cap"></a>

          <!-- Card content -->
          <div class="card-body m-0 p-0">
            <div class="row pt-1">
              <div class="col-md-6 col-6">
                <p class="size12 m-0 c-gray">
                  {{blog.created_at|date:"d M, Y"}}
                </p>
              </div>
              <div class="col-md-12">
                <a href="{% url 'app_blog:p_detalle_blog' blog.slug %}">
                  <p class="f-mont size18 pt-2 m-0 pb-2">
                    {{blog.title}}
                  </p>
                </a>
              </div>
              <div class="col-md-12">
                <p class="size12 c-gray">
                    {{blog.summary}}
                </p>
              </div>
            </div>
          </div>

          <!-- Card footer -->
          <div class="rounded-bottom lighten-3 pt-0">
            <div class="row pd-gblog mb-1">
              <div class="col-md-8">
                <div class="row justify-content-center">
                  <div class="col-md-2 ">
                    <div class="avatar-blog ">
                      <img src="{{ blog.author.userprofile.photo.url }}" class="rounded-circle img-fluid">
                    </div>
                  </div>
                  <div class="col-md-10  pd-lblog cy-blog">
                    <p class="text-avatar mpg">
                      {% if blog.author.userprofile.first_name and blog.author.userprofile.last_name %}
                        Posteado por <b>{{ blog.author.userprofile.first_name }} {{ blog.author.userprofile.last_name }}</b>
                      {% else %}
                        Posteado por <b>{{ blog.author.userprofile.username }}</b>
                      {% endif %}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <div>
      <nav aria-label="Page navigation">

        <ul class="pagination pg-blue justify-content-center">

          {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previus">
                <!-- <span class="page-link" href="?page={{ contacts.previous_page_number }}">Anterior</span> -->
                <span aria-hidden="true step-links">Anterior</span>
                <span class="sr-only">Anterior</span>
              </a>
            </li>
          {% endif %}

          {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
              <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% else %}
              <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}

          {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">Siguiente</span>
                <span class="sr-only">Siguiente</span>
              </a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
{% endblock section %}