{% extends "base.html" %}
{% block title %}Yachaycode - Sobre nosotros{% endblock title %}
{% load static %}
{% block section %}
<!-- about top -->
  <div class="details-books py-5">
    <div class="container py-xl-5 py-lg-3">
      <div class="title text-center mb-sm-5 mb-4">
        <h4 class="text-dark f-mont size30">Sobre nosotros</h4>
        <p class="f-mont-r size18">Compartiendo experiencias sobre desarrollo desarrollo de software.</p>
      </div>
      <div class="row">
        <div class="col-lg-6 agileits_updates_grid_right">
          <div id="accordion">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <p class="f-mont size18">¿Quiénes somos?</p>
                  </button>
                </h5>
              </div>

              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                  <p class="f-mont-r size15">Somos una equipo de profesionales apasionados por la tecnología, computación y la informática; estamos muy contentos de compartir nuestras experiencias profesionales y personales, generando contenido de valor en este blog.</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <p class="f-mont size18">Sobre YachayCode</p>
                  </button>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                  <p class="f-mont-r size15">
                  <b>YachayCode</b>  es una combincación de dos terminos: <br>
                  -<b>Yachay:</b> Es un término quechua que se refiere a sabiduria o conocimiento <br>
                  - <b>Code:</b>  es un término ingles que se refiere al código de lenguaje de programación, "Aprender a escribir codígo es el nuevo lenguaje universal"
                  <b>YachayCode:</b> Es una comunidad de profesionales apasionados por la tecnología, computación y la informática; dispuestos a ayudar..!
                  </p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTree">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTree" aria-expanded="false" aria-controls="collapseTwo">
                    <p class="f-mont size18">Temas de interés</p>
                  </button>
                </h5>
              </div>
              <div id="collapseTree" class="collapse" aria-labelledby="headingTree" data-parent="#accordion">
                <div class="card-body">
                  <p class="size15">
                  - Lenguajes de programación: Python, Java, Php, Arduino, Javascript, C y C++
                  </p>
                  <hr>
                  <p class="size15">
                    - Automatización de procesos basado en navegadores web y movil(Selenium, phantomjs , appnum y tasker)<br>
                  </p>
                  <hr>
                  <p class="size15">
                    - Webscraping (scrapy, newspaper, requests, beautifulsoup, lxml, curl, proxys rotativos, agentes de usuarios rotativos, etc <br>
                  </p>
                  <hr>
                  <p class="size15">
                    - React.js, vue.js y angular <br>
                  </p>
                  <hr>
                  <p class="size15">
                    - Tecnologías de procesamiento distribuido basado en colas y hilos: Celery, flower, apache Kafka y rabbitMq <br>
                  </p>
                  <hr>
                  <p class="size15">
                    - Orm: django orm y SQLAlchemy <br>
                  </p>
                  <hr>
                  <p class="size15">
                    - Base de datos: Mongodb, Redis, Mysql, Postgres, SqlLite<br>
                  </p>
                  <hr>
                  <p class="size15">
                    - Motor de búsqueda: Apache solr <br>
                  </p>
                  <hr>
                  <p class="size15">
                    - Desarrollo web <br>
                  </p>
                  <hr>
                  <p class="size15">
                    - Experiencias profesionales<br>
                  </p>
                  <hr>
                  <p class="size15">
                    - Startup <br>
                  </p>
                  <hr>
                  <p class="size15">
                    - Herramientas/framework web (Bootstrap4, jquery, adminLite2 y Html5, react.js, vue.js y angular y Css3)<br>
                  </p>
                  <hr>
                  <p class="size15">
                    - Tics educativos <br>
                  </p>
                  <hr>
                  <p class="size15">
                    - Robótica educativa <br>
                  </p>
                  <hr>
                  <p class="size15">
                    - Aws y digitalOcean <br>
                  </p>
                  <hr>
                  <p class="size15">
                    - Tecnologias big data y IA (NumPy, pandas, nlp, Nltk, sklearn, matplotlib, google cloud vision, rasa core/stack) <br>
                  </p>
                  <hr>
                  <p class="size15">
                    - Herramientas API web: Django rest framework y flask <br>
                  </p>
                  <hr>
                  <p class="size15">
                    - Scrum y kanban <br>
                  </p>
                  <hr>
                  <p class="size15">
                    - Herramientas de gestión de proyectos ágiles: confluence atlassian, taiga y monday <br>
                  </p>
                  <hr>
                  <p class="size15">
                    - Devops
                  </p>
                  <hr>
                  <p class="size15">
                    - Ciencia, Tecnología, Ingeniería y Matemáticas(Stem) <br>
                  </p>
                  <hr>
                  <p class="size15">
                    - Innovación <br>
                  </p>
                  <hr>
                  <p class="size15">
                    - Transformación digital <br>
                  </p>
                  <hr>
                  <p class="size15">
                    - Ui/Ux <br>
                  </p>
                  <hr>
                  <p class="size15">
                    - Otros
                  </p>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 details-w3l">
          <img src="{% static "img/acerca-de-yachaycode.png" %}" class="img-fluid" alt="" />
        </div>
      </div>
    </div>
  </div>
  <!-- //about top -->
  <!-- team -->
  <section class="wthree-row " id="team">
    <!-- team container -->
    <div class="team_bg_w3ls">
      <div class="container">
        <!-- title description -->
        <div class="row justify-content-center">
          <div class="text-center mb-sm-5 mb-4">
            <h4 class="f-mont size30">Fundador</h4>
            <!-- <p class="f-mont-r size18">Aprendiendo y compartiendo</p> -->
          </div>
        </div>
        <!-- //title description -->
        <div class="row inner_sec_info_w3ls_agile d-flex justify-content-center mb-5">
          <div class="col-lg-3 col-md-6 col-sm-6 team_grid1">
            <div class="team_grid_info">
              <img src="{% static "img/hurtado.jpg" %}" alt=" " class="img-fluid" />
              <h3 class="f-mont size18">Alejandro Hurtado Chacñama</h3>
              <p class="f-mont-r size18">Arquitecto de Software</p>
              <div class="team_icons">
                <ul>
                  <li><a target="_blank" href="https://web.facebook.com/alejandrohdo1/" class="facebook"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                  <li><a target="_blank" href="https://www.instagram.com/alejandrohdo1" class="instagram"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                  <li><a target="_blank" href="https://www.linkedin.com/in/alehurcha/" class="linkedin"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>

                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="text-center mb-sm-5 mb-4">
            <h4 class="f-mont size30">Equipo</h4>
            <!-- <p class="f-mont-r size18">Aprendiendo y compartiendo</p> -->
          </div>
        </div>
        <div class="row inner_sec_info_w3ls_agile d-flex justify-content-center mb-5">
          <!-- <div class="col-lg-3 col-md-6 col-sm-6 team_grid1">
            <div class="team_grid_info">
              <img src="{% static "img/hurtado.jpg" %}" alt=" " class="img-fluid" />
              <h3 class="f-mont size18">Alejandro Hurtado Chacñama</h3>
              <p class="f-mont-r size18">Arquitecto de Software</p>
              <div class="team_icons">
                <ul>
                  <li><a target="_blank" href="https://web.facebook.com/alejandrohdo1/" class="facebook"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                  <li><a target="_blank" href="https://www.instagram.com/alejandrohdo1" class="instagram"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                  <li><a target="_blank" href="https://www.linkedin.com/in/alehurcha/" class="linkedin"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>

                </ul>
              </div>
            </div>
          </div> -->
          <div class="col-lg-3 col-md-6 col-sm-6 team_grid1">
          <div class="team_grid_info">
            <img src="{% static "img/otazu.jpg" %}" alt=" " class="img-fluid" />
            <h3 class="f-mont size18">Anstron Otazu</h3>
            <p class="f-mont-r size18">Desarrollador frontend</p>
            <div class="team_icons">
              <!-- <ul>
                  <li><a href="#" class="facebook"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                  <li><a href="#" class="twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>

                </ul> -->
            </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-6 team_grid1">
          <div class="team_grid_info">
            <img src="{% static "img/Jessica.jpeg" %}" alt=" " class="img-fluid" />
            <h3 class="f-mont size18">Jessica Cardenas Magno</h3>
            <p class="f-mont-r size18">Data Analyst</p>
            <div class="team_icons">
               <ul>
                  <li><a href="https://www.linkedin.com/in/jessicamargaritacardenasmagno/" target="_blank" class="Linkedin"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                  <li><a href="https://web.facebook.com/jcardenasm2" class="Facebook" target="_blank"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>

                </ul>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- //team container -->
  </section>
  <!-- //team -->
{% endblock section %}