{% load static %}
<!-- Footer -->
<footer class="page-footer font-small fond_footer pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Footer links -->
    <div class="row text-center text-md-left ">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h4 class="mb-3 f-mont size25">YachayCode</h4>
        <p class="color-p f-mont-r size15">
          Apasionados por la tecnología, computación y la informática; compartiendo experiencias mediante generación de contenido de valor en este blog.
        </p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="mb-3 f-mont size18">Sobre nosotros</h5>
        <a href="/blog/acerca/" target="_blank"><i class=" footer_icon"></i><p class="color-p f-mont-r size15">Acerca del blog</p></a>
      </div>

      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="mb-3 f-mont size18">Contactos</h5>
        <p class="color-p f-mont-r size15">    <i class="fa fa-envelope mr-3"></i>yachaycode@gmail.com</p>
        <a href="https://web.whatsapp.com/send?phone=51983679449" target="_blank"><i class="fab fa-whatsapp footer_icon"></i></a>
        <a href="https://t.me/joinchat/8XfneRKrWrQ0ZDMx" target="_blank"><i class="fab fa-telegram footer_icon"></i></a>
        <a href="https://www.facebook.com/Yachaycode-618908005122073/" target="_blank"><i class="fab fa-facebook-f footer_icon"></i></a>
        <a href="https://twitter.com/yachaycode" target="_blank"><i class="fab fa-twitter footer_icon"></i></a>
        <a href="https://github.com/yachaycode" target="_blank"><i class="fab fa-github footer_icon"></i></a>
        <a href="https://www.youtube.com/channel/UChd1mszMRyIKgGnlsSdMiuA?disable_polymer=true" target="_blank"><i class="fab fa-youtube footer_icon "></i></a></p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Footer links -->

    <hr class="w-100">

    <!-- Grid row -->
    <div class="row d-flex justify-content-center">

      <!-- Grid column -->
      <div class="text-center">

        <div class="text-md-center ">
          <p class="f-mont size15 text-center">
            Copyright@YachayCode 2021 - {% now "Y" %}
          </p>
        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

</footer>
<!-- Footer -->
