{% extends "base.html" %}
{% load static %}

{% block title %}YachayCode - Inicio {% endblock title %}
{% block author %}YachayCode{% endblock author %}
{% block canonical %}https://yachaycode.com/{% endblock canonical %}
{% block description %}Blog donde un equipo de profesionales apasionados por la tecnología, computación y la informática; comparten experiencias profesionales y personales generando contenido de valor.
{% endblock description %}

{% block twitter_title %}YachayCode{% endblock twitter_title %}

{% block twitter_description %}Blog donde un equipo de profesionales apasionados por la tecnología, computación y la informática; comparten experiencias profesionales y personales generando contenido de valor.{% endblock twitter_description %}

{% block twitter_creator %}YachayCode{% endblock twitter_creator %}

{% block og_url %}https://yachaycode.com{% endblock og_url %}

{% block og_title %}YachayCode{% endblock og_title %}

{% block og_description %}Blog donde un equipo de profesionales apasionados por la tecnología, computación y la informática; comparten experiencias profesionales y personales generando contenido de valor.{% endblock og_description %}

{% block keywords %} Desarrollo de software, startup, innovación, transformación digital, devops, yachay {% endblock keywords %}

{% block section %}

{% block head_imports %}
{% endblock %}

<!--/.start bannner-->
<div class="container-fluid m-0 p-0 bg-color1">
  <div class="contenedor-banner banner pt-general">
  <div class="row">
     <div class="col-md-6 centerv">
       <form class="form-inline" method="GET" action="/blog/buscador">
        <div class="row vert-banner  mg-l">
                <h2 class="title-banner pb-2 f-mont size30"><b>Comunidad YachayCode</b><br></h2>
              <p class="p-banner f-mont size18">Aprendiendo y compartiendo sobre Desarrollo de Software.</p>
              <div class="col-md-9 container-1 pt-3 p-0 m-0">
                    <span class="icon"><i class="fa fa-search"></i></span>
                    <input class="form-control search f-mont size15" type="text" id="q" name="q" placeholder="Buscar..." />
              </div>     
        </div>
        </form>
        {% if blogs %}
            <h2 class="mb-5">{{ blogs.title }}</h2>
            <p>{{ blogs.summary }}</p>
        {%else%}
        <h5> No se encontraron resultados</h5>
        {% endif %}
     </div>
     <div class="col-md-6 img-banner"></div>
  </div>
</div>
</div>
<!--/.end bannner-->

<div class="container mb-lg1">
  <div class="row mt-5 mb-5">
    <div class="col-md-12 text-center">
       <h5 class="color-title f-mont size18" id="myModalLabel"><b>Últimas publicaciones</b></h5>
    </div>
  </div>
   
  <div class="row mb-5">
  {% for blog in blogs %}
    <div class="col-md-4 mb-4">
      <!-- Card -->
        <div class="card">

          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top f-mont" src="{{ blog.cover_image.url }}" alt="Card image cap">
            <a href="{% url 'app_blog:p_detalle_blog' blog.slug %}">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!-- Card content -->
          <div class="card-body">

            <!-- Title -->
            <a href="{% url 'app_blog:p_detalle_blog' blog.slug %}"><h5 class="card-title f-mont">{{blog.title}}</h5></a>
              <p class="text-avatar size12 m-0 c-gray">{{blog.created_at|date:"d M, Y"}}</p>
            <!-- Text -->
            <p class="size12 c-gray">{{blog.summary}} </p>
            <!-- Button -->
          

          </div>
           <!-- Card footer -->
            <div class="rounded-bottom lighten-3 pt-0">
              <div class="row pd-gblog mb-1">
                  <div class="col-md-8">
                    <div class="row justify-content-center">
                        <div class="col-md-2 ">
                              <div class="avatar-blog ">
                              <img src="{{ blog.author.userprofile.photo.url }}" class="rounded-circle img-fluid">
                              </div>
                        </div>
                          
                        <div class="col-md-10  pd-lblog cy-blog">
                            <p class="text-avatar size12 c-gray">Posteado por 
                              {% if blog.author.userprofile.first_name and blog.author.userprofile.last_name %}
                                <b>{{ blog.author.userprofile.first_name }} {{ blog.author.userprofile.last_name }}</b>
                              {% else %}
                                <b>{{ blog.author.userprofile.username }}</b>
                              {% endif %}
                            </p>
                        </div>
                    </div>
                  </div>
            </div>

          </div>
        </div>
        <!-- Card -->
    </div>
  {% endfor %}


  </div>

  <div class="text-center pt-4 pb-5">
    <a href="{% url 'app_blog:p_inicio' %}" class="title-banner m-5">Leer más<i
        class="fas fa-chevron-right ml-2"></i></a>
  </div>

  </div>

{% endblock %}